{namespace sv.lSberVmeste.bInnerTemplate.Template}

/**
* Inner
*/
{template .inner autoescape="strict" kind="html"}
	<div >It Works!!!</div>
	<div >Greetings from the inner template!!!!!!</div>
{/template}