{namespace sv.gButton.Template}

/**
 * The button template
 * @extends cl.gButton.Template
 * @constructor
 */
{template .button autoescape="strict" kind="html"}
    {call .init data="all" /}
{/template}
